@import url(./fonts.css);
@import url(./navbar.css);

*{
    box-sizing: border-box;
    margin: auto;
}
main{
    background-color: linear-gradient(rgb(9,20,40), rgb(0, 141, 154));
}
body{
    max-width: auto;
    max-height: auto;
    font-family: "Beaufort for LOL";
    font-style: bold;
    cursor: url('../img/cursor.png'), auto;
    background-color: rgb(9, 20, 40);   
}
a{
    text-decoration: none;
    color: white;
    cursor: url('../img/cursor-pointer.png'), auto;
}
.span-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "BeaufortforLOL-BoldItalic";
    font-size: 60px;
    height: 300px;
    width: fit-content;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    background-color: white;
}
.titulo1{
    position: absolute;
    margin-bottom: 70px;
}
#hrtitulo{
    position: absolute;
    width: 700px;
    height: 68px;
    margin-top: 70px;
}
.bannerCharacter{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 100%;
    background-image: url('img/banner-season.jpg');
    background-repeat: no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);


}
.navcharacters {
    color: #ffffff;
    background-color: rgb(3, 0, 35);   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 5px;
    border: 1.5px solid rgb(200, 156, 62);
    gap: 200px;
}
#searchInput {
    font-family: "BeaufortforLOL-Medium";
    width: 100px;
    height: 25px;
    background-color: transparent;
    color: white;
    border-bottom: 2px solid rgb(200, 156, 62);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    transition: 500ms;
}
#searchInput:hover{
    border-bottom: 2px solid  rgb(0, 141, 154);
}
#searchButton{
    font-family: "BeaufortforLOL-Medium";
    background-color: rgb(200, 156, 62);
    border: none;
    width: auto;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    transition: 500ms;
}
#searchButton:hover{
    background-color: rgb(0, 141, 154);
}
.filtro{
    font-family: "BeaufortforLOL-Medium";
    background-color:rgb(200, 156, 62) ;
    border: transparent;
    border-radius: 5px;
    height: 25px;
    transition: 500ms;
}
.filtro:hover{
    background-color: rgb(0, 141, 154);

}
#championData ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0px;
    padding: 0px;
    margin: auto;
    margin-top: 30px;
}
.championContainer {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 280px;
    margin: 15px;
    transform: scale3d(1.05, 1.05, 1);
    transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;  
}
.championContainer:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale3d(1.001, 1.001, 1);
    cursor: url('../img/cursor-pointer.png'), auto;
}
.championimg{
    display: block;
    position: absolute;
    object-fit: cover;
    object-position: top;
    height: 300px;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.championName {
    display: flex;
    position: absolute;
    text-decoration: none;
    display: flex;
    font-family: "BeaufortforLOL-Regular";
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(9, 12, 19);
    color: #fff;
    padding: 5px 10px;
    text-align: left;
}
