@import url(./fonts.css);
@import url(./navbar.css);

*{
    box-sizing: border-box;
    margin: auto;
}
body{
    max-width: 1440px;
    font-family: "Beaufort for LOL";
    font-style: bold;
    cursor: url('../img/cursor.png'), auto;
    background-color: rgb(9, 20, 40);   
}
a{
    text-decoration: none;
    color: white;
    cursor: url('../img/cursor-pointer.png'), auto;
}
#championData li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0px;
    padding: 0px;
    margin: auto;
}
.championContainer li{
    width: 200px;
}