
header {
    width: 100%;
    height: 73px;
    background:transparent;
    color: var(--Dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--Dark-gray-blue);
    padding-bottom: 15px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.icon:hover{
    color: var(--Bright-orange);
}
*{
    box-sizing: border-box;
    margin: auto;
}
body {
    cursor: url('../img/cursor.png'), auto;
}
cursor{
    width: 20px;
    height: 20px;
}