.navbar{
    width: auto;
    height: 70px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: auto;
    gap: 650px;
    border-bottom: 1px solid white;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 32px;
}

.logo-img{
    cursor: url('../img/cursor-pointer.png'), auto;
    height: 40px;

}
button{
    background-color: transparent;
    border: 1.5px solid #C89C3E;
    border-radius: 12px;
    width: 120px;
    height: 34px;
}

a{
    font-family: "BeaufortforLOL-Medium";
    width: 126px;
    color: white;
}