
.navbar{
    width: auto;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-position: center;
    padding: auto;
    gap: 600px;
    background-color: rgb(6, 12, 25);
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow: hidden;
    gap: 32px;
}

.logo-img{
    cursor: url('../img/cursor-pointer.png'), auto;
    height: 45px;
    
}
button{
    font-family: "BeaufortforLOL-Medium";
    background-color: transparent;
    border: 1.5px solid rgb(200, 156, 62);
    border-radius: 12px;
    width: 120px;
    height: 34px;
    transition: 500ms;
}
button:hover{
    cursor: url('../img/cursor-pointer.png'), auto;
    border: none;
    background-color: rgb(200, 156, 62);
}
a{
    font-family: "BeaufortforLOL-Medium";
    width: 126px;
    color: white;
}
